<form ng-submit="formContentionSubmit()">
    {{ form_widget(form.name) }}
    <div >
        {{ form_widget(form.aff.children[0], { 'attr': {'ng-model': 'edit.aff'} }) }}
        {{ form_label(form.aff.children[0]) }}
        {{ form_widget(form.aff.children[1], { 'attr': {'ng-model': 'edit.aff'} }) }}
        {{ form_label(form.aff.children[1]) }}
    </div>

    <input type="button" ng-click="toggleEditForm()" value="Cancel" />
    <input type="submit" value="Save" />
</form>
