<form>
    {{ form_widget(form.name) }}
    <div ng-show="contentionAffSet(contentionType)">
        {{ form_widget(form.aff.children[0], { 'attr': {'ng-model': 'edit.aff'} }) }}
        {{ form_label(form.aff.children[0]) }}
        {{ form_widget(form.aff.children[1], { 'attr': {'ng-model': 'edit.aff'} }) }}
        {{ form_label(form.aff.children[1]) }}
    </div>

    <button ng-click="toggleEditForm()">Cancel</button>
    <input type="submit" value="Save" ng-click="formContentionSubmit()" />
</form>
