<form ng-submit="formDebateSubmit()">
    <input type="hidden" ng-model="edit.id" value="{[{ debate.id }]}" />
    <div class="debate-title-wrapper">
        <h1 class="debate-title">{{ form_widget(form.name) }}</h1>
    </div>
    <div class="debate-description" >
        {{ form_widget(form.description) }}
    </div>
    {{ form_rest(form) }}

    <input type="button" ng-click="toggleEditForm(debate.id)" value="Cancel" />
    <input type="submit" value="Save" />
</form>
<!-- action="{{ path('md_debate_debate') }}{[{ '/' + debate.id }]}" method="{[{ formMethod(debate.id) }]}" {{ form_enctype(form) }} -->