{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@MDDebateBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MDDebateBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Debate {{ debate.id }}: {{ debate.name }}{% endblock %}

{% block body %}
    <h1>Debate {{ debate.getId() }}: {{ debate.name }}</h1>
    <div class="debate-description">
        {{ debate.getDescription() }}
    </div>
    {% if contentions is not empty %}
        {% include 'MDDebateBundle:Contention:contentionSection.html.twig' with {'contentions': contentions} %}
    {% endif %}
{% endblock %}