Debate {{ debate.id }}: {{ debate.name }}

<div class="debate-header">
    <div class="debate-title-wrapper">
        <h1 class="debate-title" id="debate-{{ debate.getId() }}">{{ debate.name }}</h1>
        {% if debate.editable == 1 %}
          <a class="button edit">Edit</a>
        {% endif %}
    </div>
    <div class="debate-description">
        {{ debate.getDescription() }}
    </div>
<div>
{% if contentions is not empty %}
    {% include 'MDDebateBundle:Contention:contentionSection.html.twig' with {'contentions': contentions, 'debate': debate} %}
{% endif %}